.app {
    align-items: center;
    background: #7abcff; /* Old browsers */
    background: -moz-linear-gradient(top, #7abcff 0%, #60abf8 44%, #4096ee 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    display: flex;
    height: 100vh;
    justify-content: center;
    width: 100vw;
    flex-direction: column;
}

.app__title {
    color: #ffffff;
    font-size: 60px;
    font-weight: 500;
    left: auto;
    margin-top: 0px;
}
